* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-container {
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #8abef9;  /* Blue */
    padding: 20px 0;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    width: 900px;
  }

  .links {
    display: flex;
    justify-content: flex-end;
  }

  .login {
    margin-left: 20px;
  }

  .header-container {
    display: flex;
    justify-content: center;
    color: #5995DA;
    background-color: #D6E9FE;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 900px;
    height: 300px;
  }